<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <link rel="icon" href="https://raw.githubusercontent.com/theringe/winae/master/sample/media/cpimg/favicon.png">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="no" />
    <meta name="mobile-web-app-capable" content="no">
    <meta name="theme-color" content="#343a40" />
    <!-- META -->
    <meta name="description" content="A Windows based containerized Adobe After Effects renderer" />
    <meta property="og:type" content="website">
    <meta property="og:title" content="WINAE" />
    <meta property="og:description" content="A Windows based containerized Adobe After Effects renderer" />
    <meta property="og:image"
        content="https://raw.githubusercontent.com/theringe/winae/master/sample/media/cpimg/cover.png" />
    <meta name="twitter:title" content="WINAE">
    <meta name="twitter:description" content="A Windows based containerized Adobe After Effects renderer">
    <meta name="twitter:image:src"
        content="https://raw.githubusercontent.com/theringe/winae/master/sample/media/cpimg/cover.png">
    <meta name="twitter:card" content="summary_large_image">
    <title>WINAE</title>
    <link rel="image_src" href="https://raw.githubusercontent.com/theringe/winae/master/sample/media/cpimg/cover.png">
    <!-- LIBRARY -->
    <link rel="stylesheet" href="https://cdn.usebootstrap.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <style>
        body {
            background-color: #faf8ef;
        }

        h5 {
            color: #343a40;
        }

        .footer {
            margin-top: 5% !important;
            margin-bottom: 10px;
        }

        @media (max-width: 500px) {
            .footer {
                margin-top: 35% !important;
            }
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="media-body m-7">
            <h5 class="align-items-center mt-5">WINAE</h5>
            <h3 class="align-items-center mt-5">Control Panel</h3>
            <hr />
        </div>
        <div class="mt-4">
            <a href="#" class="btn btn-outline-dark btn-block" role="button" id="image_status">[IMAGE_STATUS]</a>
            <br>
            <a href="https://github.com/theringe/winae" class="btn btn-outline-dark btn-block" role="button"
                id="btn_github" target="_blank">WINAE GitHub</a>
            <br>
            <a href="https://mohohan.com/393" class="btn btn-outline-dark btn-block" role="button" id="btn_blog"
                target="_blank">Related Blog</a>
            <br>
            <p>Your installation process is halfway through. Please refer to the following tutorial to continue setting
                up the Windows container image for transcoding from step 3. After the setup is complete, please refresh
                this page.</p>
            <table class="table">
                <thead>
                    <tr>
                        <th>Step</th>
                        <th>Detail</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>3</td>
                        <td>Download your genuine After Effects from the <a target="_blank"
                                href="https://adminconsole.adobe.com/">Adobe Admin Console</a>. We firstly create a
                            package and specify the preferred name for further use (in 4-??), for example: "AE",
                            selecting "Windows (64-bit)", selecting "English (North America)", then click Create
                            package. Finally, we could download the file named AE_en_US_WIN_64.zip for further use (in
                            4-??)</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><img src="https://raw.githubusercontent.com/theringe/winae/master/docs/images/3-01.png"
                                style="max-width: 100%;"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><img src="https://raw.githubusercontent.com/theringe/winae/master/docs/images/3-02.png"
                                style="max-width: 100%;"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><img src="https://raw.githubusercontent.com/theringe/winae/master/docs/images/3-03.png"
                                style="max-width: 100%;"></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Prepare the operating environment in the prerequisites and open a PowerShell terminal</td>
                    </tr>
                    <tr>
                        <td>4-01</td>
                        <td>Use the following command to download the Winae project and after downloading, switch to the
                            project
                            folder:<br><code>git clone https://github.com/theringe/winae.git</code><br><code>cd winae</code>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><img src="https://raw.githubusercontent.com/theringe/winae/master/docs/images/4-01.png"
                                style="max-width: 100%;"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <hr>
        </div>
        <div class="footer mt-5">
            <hr />
            <h6>By Ringe</h6>
        </div>
    </div>
    <script>
    </script>

</body>

</html>