<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <link rel="icon" href="https://raw.githubusercontent.com/theringe/winae/master/sample/media/cpimg/favicon.png">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="no" />
    <meta name="mobile-web-app-capable" content="no">
    <meta name="theme-color" content="#343a40" />
    <!-- META -->
    <meta name="description" content="A Windows based containerized Adobe After Effects renderer" />
    <meta property="og:type" content="website">
    <meta property="og:title" content="WINAE" />
    <meta property="og:description" content="A Windows based containerized Adobe After Effects renderer" />
    <meta property="og:image"
        content="https://raw.githubusercontent.com/theringe/winae/master/sample/media/cpimg/cover.png" />
    <meta name="twitter:title" content="WINAE">
    <meta name="twitter:description" content="A Windows based containerized Adobe After Effects renderer">
    <meta name="twitter:image:src"
        content="https://raw.githubusercontent.com/theringe/winae/master/sample/media/cpimg/cover.png">
    <meta name="twitter:card" content="summary_large_image">
    <title>WINAE</title>
    <link rel="image_src" href="https://raw.githubusercontent.com/theringe/winae/master/sample/media/cpimg/cover.png">
    <!-- LIBRARY -->
    <link rel="stylesheet" href="https://cdn.usebootstrap.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-loadingModal@1.0.2/js/jquery.loadingModal.min.js"></script>
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/jquery-loadingModal@1.0.2/css/jquery.loadingModal.min.css">
    <style>
        body {
            background-color: #faf8ef;
        }

        h5 {
            color: #343a40;
        }

        .footer {
            margin-top: 5% !important;
            margin-bottom: 10px;
        }

        @media (max-width: 500px) {
            .footer {
                margin-top: 35% !important;
            }
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="media-body mt-4">
            <h5 class="align-items-center mt-4">WINAE</h5>
            <h3 class="align-items-center mt-4">Control Panel</h3>
            <hr />
        </div>
        <div class="mt-4">
            <h6>Startup script</h6>
            <input type="text" class="form-control" id="connection_string" value="[CONNSTR]">
            <br>
            <h6>Node counts</h6>
            <select class="form-control" id="node_count">
                <option value="1" selected>1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
            <br>
            <button class="btn btn-outline-dark btn-block" role="button" id="btn_launch" onclick="javascript: launch();"
                disabled></button>
            <br>
            <h6>Status</h6>
            <input type="text" class="form-control" id="winae_status" readonly>
            <hr>
        </div>
        <div class="footer mt-4">
            <hr />
            <h6>By Ringe</h6>
        </div>
    </div>
    <script>
        function launch() {
            let debug = "";
            if (getAllUrlParams().name) {
                debug += "&name=" + getAllUrlParams().name;
            }
            if ($("#connection_string").val().length > 120) {
                $("#btn_launch").prop("disabled", true);
                $("#btn_launch").html('WINAE is starting...');
                $('body').loadingModal({
                    text: 'Loading...',
                    position: 'auto',
                    text: '',
                    color: '#fff',
                    opacity: '0.7',
                    backgroundColor: 'rgb(0,0,0)',
                    animation: 'doubleBounce'
                });
                $.ajax({
                    url: "winae?connection_string=" + encodeURIComponent($("#connection_string").val()) + "&node_count=" + $('#node_count').find(":selected").val() + debug,
                    type: "POST",
                    success: function (data) {
                        if (data.succ == true) {
                            alert('Done');
                        } else {
                            alert('Error: ' + data.msg);
                        }
                        $('body').loadingModal('destroy');
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(xhr.status);
                        alert(thrownError);
                        $("#btn_launch").prop("disabled", false);
                        $("#btn_launch").html('Launch WINAE renderer nodes');
                        $('body').loadingModal('destroy');
                    }
                });
            } else {
                alert('Invalid Startup script');
            }
        }
        (function check() {
            let debug = "";
            if (getAllUrlParams().name) {
                debug += "?name=" + getAllUrlParams().name;
            }
            $.ajax({
                url: "winae" + debug,
                type: "GET",
                success: function (data) {
                    if (data.succ == true) {
                        $("#winae_status").val(data.msg);
                        if (data.msg == "OFFLINE") {
                            $("#btn_launch").prop("disabled", false);
                            $("#btn_launch").html('Launch WINAE renderer nodes');
                        } else {
                            $("#btn_launch").prop("disabled", true);
                            $("#btn_launch").html('WINAE is starting...');
                        }
                    } else {
                        alert('Error: ' + data.msg);
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                }
            });
            setTimeout(check, 10000);
        })();
        function getAllUrlParams(url) {
            var queryString = url ? url.split('?')[1] : window.location.search.slice(1);
            var obj = {};
            if (queryString) {
                queryString = queryString.split('#')[0];
                var arr = queryString.split('&');
                for (var i = 0; i < arr.length; i++) {
                    var a = arr[i].split('=');
                    var paramName = a[0];
                    var paramValue = typeof (a[1]) === 'undefined' ? true : a[1];
                    paramName = paramName.toLowerCase();
                    if (typeof paramValue === 'string') paramValue = paramValue.toLowerCase();
                    if (paramName.match(/\[(\d+)?\]$/)) {
                        var key = paramName.replace(/\[(\d+)?\]/, '');
                        if (!obj[key]) obj[key] = [];
                        if (paramName.match(/\[\d+\]$/)) {
                            var index = /\[(\d+)\]/.exec(paramName)[1];
                            obj[key][index] = paramValue;
                        } else {
                            obj[key].push(paramValue);
                        }
                    } else {
                        if (!obj[paramName]) {
                            obj[paramName] = paramValue;
                        } else if (obj[paramName] && typeof obj[paramName] === 'string') {
                            obj[paramName] = [obj[paramName]];
                            obj[paramName].push(paramValue);
                        } else {
                            obj[paramName].push(paramValue);
                        }
                    }
                }
            }
            return obj;
        }
    </script>

</body>

</html>